[submodule "playout"]
	path = playout
	url = https://github.com/edzillion/playout.git
	branch = feat--basic-horizontal-scrolling
[submodule "SurvivalManual.wiki"]
	path = SurvivalManual.wiki
	url = https://github.com/ligi/SurvivalManual.wiki.git
[submodule "pd-log.lua"]
	path = pd-log.lua
	url = https://github.com/edzillion/pd-log.lua.git
